.welcome-card-photo {
  position: relative;
  height: 300px;
  float: right;
}
.welcome-card {
  background-color: #fff;
  margin-right: 0px !important;
}
.welcome-text {
  margin-top: 5%;
  margin-left: 30px;
  margin-right: -30px;
}