.welcome-card-photo {
  height: 300px;
  float: right;
}
.welcome-card {
  background-color: $white;
  margin-right: 0px !important;
}
.welcome-text {
  margin-top: 5%;
  margin-left: 50px;
  margin-right: -50px;
  z-index: 10;
}
.welcome-card-photo-div {
  padding-right: 0px !important;
}
