body {
  font-family: "roboto";
}
.header {
  border-radius: 0px !important;
  border: none !important;
  background-color: #3498db !important;
  box-shadow: 0 3px 4px rgba(191,191,191,0.5);
}
.user-photo {
  margin-top: 5px;
  height: 40;
}
.logo-photo {
  height: 40px;
  margin-top: 5px;
  margin-right: 15px;
}
.li-navbar-text {
  color: #fff !important;
}
.nav>li>a:focus, .nav>li>a:hover {
  background-color: #2980b9 !important;
}