.team-false {
  height: 250px;
  border: 2px #d5d8d9 solid;
  border-radius: 5px;
  color: #aaacad;
}
.block-data-1 {
  height: 15px;
  background-color: #aaacad;
  width: 50%;
  border-radius: 2px;
}
.block-data-2 {
  height: 15px;
  background-color: #aaacad;
  width: 35%;
  border-radius: 2px;
  margin-top: 2px;
}
