@import 'message/message';

.minimized {
  height: 30px;
  width: auto;
  min-width: 150px;
  background-color: #f1f2f3;
  float: right;
  cursor: pointer;
  margin-left: 24px;
  border: 1px solid #CCC;
  .chat-text {
    min-width: calc(150px - 32px);
    margin-bottom: 0px;
    padding: 5px 10px 0px 10px !important;
    display: inline-block;
  }
  .chat-image {
    display: inline-block;
    margin: 7px;
    float: right;
    .chat-back-image {
      width: 16px;
      height: 16px;
      background-size: 16px;
      opacity: 0.3;
      background-image: url(/img/close-icon.svg);
    }
    .close-image {
      margin: 0 !important;
      opacity: 0.3;
      &:hover {
        opacity: 0.7;
      }
    }
  }
}
.medium {
  background-color: #ddd;
  width: 250px;
  margin-left: 24px;
  
  position: relative;
  margin-top: -238px;
  .chat-header {
    height: 30px;
    background-color: $peter-river;
    color: $white;
    cursor: pointer;
    .chat-text {
      padding: 5px 10px 0px 10px !important;
      margin-bottom: 0px;
    }
    .chat-image {
      margin-top: 7px;
      .chat-back-image {
        width: 16px;
        height: 16px;
        background-size: 16px;
        opacity: 0.3;
        background-image: url(/img/close-icon.svg);
        filter: invert(1);
      }
      .maximize-image,.close-image {
        opacity: 0.5;
        &:hover {
          opacity: 1;
        }
      }
    }
  }

  .chat-body {
    height: 200px;
    max-height: 200px;
    width: 100%;
    padding-left: 5px;
    padding-right: 5px;
    background-color: #a9a9a9;
    background-image: linear-gradient(to bottom, #dadada, #c4c4c4);
    overflow-y: auto;
    overflow-x: hidden;
  }

  .chat-footer {
    background-color: #e6e6fa;
    padding: 0px !important;
    .send-message {
      padding: 0px 0px 0px 5px;
      margin-top: 6px;
    }
    .message-input {
      border-radius: 0px !important;
    }
  }
}
.maximized {
  position: absolute;
  right: 0;
  bottom: 0;
  height: calc(100vh - 90px);
  width: calc(100vw - 64px);
  background-color: #ddd;
  .chat-header {
    height: 32px;
    background-color: #f1f2f3;
    cursor: pointer;
    .chat-tabs {

    }
    .tab {
      @extend .minimized;
      width: 150px;
      height: 32px;
      margin: 0;
      float: left;
      .chat-image {
        padding: 0px !important;
      }
    }
    .chat-image {
      padding: 8px 10px !important;
      float: right;
      .exit-maximize-image {
        opacity: 0.3;
        float: right;
        &:hover {
          opacity: 0.7;
        }
      }
    }
  }

  .chat-body {
    height: calc(100% - 70px);
    min-height: calc(100% - 70px);
    width: 100%;
    background-image: linear-gradient(to bottom, #dadada, #c4c4c4);
    overflow-y: auto;
    overflow-x: hidden;
    .message-other {
      .message-text-container {
        float: left !important;
        margin-left: 5px;
      }
    }
  }

  .chat-footer {
    height: 38px;
    background-color: #e6e6fa;
  }
}
.mobile {
  @extend .medium;
  width: 100%;
  float: none;
  margin-left: 0px;
  .chat-header {
    height: 60px;
    padding: 15px;
    padding-left: 5px;
    .chat-image-text {
      display: inline-block;
      margin: 0;
      padding: 0;
      b {
        font-size: 20px;
        padding-left: 5px;
        vertical-align: text-bottom;
      }
      .chat-image {
        display: inline-block;
        .chat-back-image {
          width: 20px;
          height: 20px;
          background-size: 20px;
          background-image: url(/img/chat/back-arrow.svg);
        }
        .back-image {
          opacity: 0.5;
          &:hover {
            opacity: 1;
          }
        }
      }
    }
  }
  .chat-body {
    position: absolute;
    height: calc(100% - 98px);
    min-height: calc(100% - 98px);
  }
  .chat-footer {
    position: absolute;
    bottom: 0px;
  }
}

.users-hidden {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 45px;
  height: 45px;
  cursor: pointer;
  border: 1px solid #ccc;
  background-color: #f1f2f3;
  transition: all 0.3s ease;
  &:hover {
    .users {
      visibility: visible;
      .user {
        opacity: 1;
      }
    }
  }
  .icon {
    width: 22px;
    margin: 12px 12px;
    opacity: 0.9;
    filter: invert(1);
  }
  .users {
    height: auto;
    width: 45px;
    position: absolute;
    bottom: 45px;
    visibility: hidden;
    transition: all 0.3s ease;
    .user {
      width: 37px;
      height: 37px;
      margin: 0px 0 10px 5px;
      background-color: #f1f2f3;
      background-position: center;
      background-repeat: no-repeat;
      background-size: 18px;
      opacity: 0;
      transition: all 0.3s ease;
      &:hover {
        box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18),0 4px 15px 0 rgba(0,0,0,0.15);
      }
    }
  }
}
