@import 'message/message';

.minimized {
  height: 30px;
  width: 250px;
  background-color: #f1f2f3;
  float: right;
  cursor: pointer;
  margin: 238px 0px 0px 24px;
  border: 1px solid #CCC;
  .chat-text {
    padding: 5px 10px 0px 10px !important;
    margin-bottom: 0px;
  }
  .chat-image {
    margin-top: 7px;
    .chat-back-image {
      width: 16px;
      height: 16px;
      background-size: 16px;
      opacity: 0.3;
      background-image: url(/img/chat/close.svg);
    }
    .close-image {
      margin: 0 !important;
      opacity: 0.3;
      &:hover {
        opacity: 0.7;
      }
    }
  }
}
.medium {
  background-color: #ddd;
  width: 250px;
  float: right;
  margin-left: 24px;
  .chat-header {
    height: 30px;
    background-color: $peter-river;
    color: $white;
    cursor: pointer;
    .chat-text {
      padding: 5px 10px 0px 10px !important;
      margin-bottom: 0px;
    }
    .chat-image {
      margin-top: 7px;
      .chat-back-image {
        width: 16px;
        height: 16px;
        background-size: 16px;
        background-image: url(/img/chat/maximize.svg);
      }
      .maximize-image {
        opacity: 0.5;
        &:hover {
          opacity: 1;
        }
      }
    }
  }

  .chat-body {
    height: 200px;
    max-height: 200px;
    width: 100%;
    padding-left: 5px;
    padding-right: 5px;
    background-color: #a9a9a9;
    background-image: linear-gradient(to bottom, #dadada, #c4c4c4);
    overflow-y: auto;
    overflow-x: hidden;
  }

  .chat-footer {
    background-color: #e6e6fa;
    padding: 0px !important;
    .send-message {
      padding: 0px 0px 0px 5px;
      margin-top: 6px;
    }
    .message-input {
      border-radius: 0px !important;
    }
  }
}
.maximized {
  background-color: #ddd;
  width: 100%;
  float: right;
  margin-left: 24px;
  height: calc(100% - 82px);
  .chat-header {
    height: 32px;
    background-color: #f1f2f3;
    cursor: pointer;
    .chat-tabs {
      
    }
    .tab {
      @extend .minimized;
      width: 150px;
      height: 32px;
      margin: 0;
      float: left;
      .chat-image {
        padding: 0px !important;
      }
    }
    .chat-image {
      padding: 8px 10px !important;
      float: right;
      .exit-maximize-image {
        opacity: 0.3;
        float: right;
        &:hover {
          opacity: 0.7;
        }
      }
    }
  }

  .chat-body {
    height: calc(100% + 11px);
    min-height: calc(100% + 11px);
    width: 100%;
    background-image: linear-gradient(to bottom, #dadada, #c4c4c4);
    overflow-y: auto;
    overflow-x: hidden;
    .message-other {
      .message-text-container {
        float: left !important;
        margin-left: 5px;
      }
    }
  }

  .chat-footer {
    height: 38px;
    background-color: #e6e6fa;
  }
}
.mobile {
  @extend .medium;
  width: 100%;
  float: none;
  margin-left: 0px;
  .chat-header {
    height: 40px;
    padding: 5px;
    .chat-image-text {
      margin: 0;
      padding: 0;
      b {
        font-size: 15px;
        padding-left: 5px;
        vertical-align: super;
      }
      .chat-image {
        display: inline-block;
        .chat-back-image {
          background-image: url(/img/chat/back-arrow.svg);
        }
        .back-image {
          opacity: 0.5;
          &:hover {
            opacity: 1;
          }
        }
      }
    }
  }
  .chat-body {
    position: absolute;
    height: calc(100% - 78px);
    min-height: calc(100% - 78px);
  }
  .chat-footer {
    position: absolute;
    bottom: 0px;
  }
}
