@import 'board/board';

.board-item-container {
  overflow: auto;
  cursor: pointer;
  transition: 0.3s all ease;
  .board-item {
    margin-left: 0px !important;
    margin-right: 0px !important;
  }
  .board-preview {
    margin-top: 12px;
  }
  .board-name {
    margin-top: 16px !important;
  }
  &:hover {
    background-color: #eee;
  }
}
