/* Name */
/* End Name */
/* Plan */
/* End Plan */
/* Share */
.share {
  margin-left: 0 !important;
  margin-right: 0 !important;
}
/* End Share */
.btn-upgrade {
  padding: 1px 12px;
  vertical-align: bottom;
}
.free-card, .premium-card {
  height: 200px;
  margin-bottom: 15px;
}
.premium {
  transition: all 0.3s ease;
}
.free-card-active {
  box-shadow: 0 0 20px 5px rgba(0,0,0,.5);
  background-color: #3498db;
  color: #fff;
  z-index: 1;
}
.premium-card-active {
  box-shadow: 0 0 20px 5px rgba(0,0,0,.5);
  background-color: #2ecc71;
  color: #fff;
}
.btn-free, .btn-premium {
  background-color: #dedede !important;
  color: #000 !important;
  margin-bottom: 10px;
}
.create-modal-page {
  margin-top: 10px;
}
.free {
  transition: all 0.3s ease;
}
.plan-card-title {
  padding-top: 5px;
}
.premium-price {
  margin: 0;
}
.contact-list-photo {
  border-radius: 20px;
  margin-top: 5px;
  margin-right: 5px;
  width: 40px;
}
.contact-list-user {
  margin-left: 25px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.send-message-icon {
  margin-top: 10px;
  margin-bottom: 10px;
}
.close {
  margin-left: 15px; 
  margin-top: 10px;
  margin-bottom: 10px;
}