body {
  background: #ffffa5;
  font-family: 'roboto' !important;
}

input:focus {
  border:none;
}

.post-it {
  
}

.post-it:before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  transform: rotate(90deg);
  border-width: 0 2em 2em 0;
  border-style: solid;
  border-color: #f1c40f #eceff1;
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.3), -1px 1px 1px rgba(0,0,0,0.2);
  -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.3), -1px 1px 1px rgba(0,0,0,0.2);
  box-shadow: 0 1px 1px rgba(0,0,0,0.3), -1px 1px 1px rgba(0,0,0,0.2);
  /* Firefox 3.0 damage limitation oka */
  display: block; width: 0;
}

.postitTitle {
  text-align: center;
  width: 100%;
  border: none;
  border-bottom: 1px solid #ccc;
  background: transparent;
  margin-top: 5px;
}

.postitDescription {
  text-align: left;
  width: 100%;
  border: none;
  border-bottom: 1px solid #ccc;
  background: transparent;
  margin-top: 5px;
  resize: none;
  height: 100%;
}