.landing {
  height: calc(100vh - 50px);
  .background {
    position: absolute;
    height: calc(100vh - 50px);
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    filter: blur(3px);
    z-index: -1;

    &.diamond {
      background-image: url("/img/diamond-landing-background.jpg");
    }

    &.cyd {
      background-image: url("/img/cyd-landing-background.jpg");
    }
  }
  .items-container {
    padding-top: 50px;
    .title {
      display: block;
      max-height: 40vh;
      margin: 0 auto 50px;
      border-radius: 30px;
      opacity: 0.85;
    }
  }
}
