.landing {
  height: calc(100vh - 50px);
  .background {
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    filter: blur(3px);
    z-index: -1;
  }
  .items-container {
    padding-top: 50px;
    .title {
      display: block;
      max-height: 40vh;
      margin: 0 auto 50px;
      border-radius: 30px;
      opacity: 0.85;
    }
  }
}
