@import 'module/module';

.module-item {
  margin-left: 0px !important;
  margin-right: 0px !important;
}
.close {
  margin-left: 0px !important;
}
.module-preview {
  margin-top: 12px;
}
.module-name {
  margin-top: 16px !important;
}