.board-container {
  height: calc(100% - 50px);
  width: calc(100% - 64px);
  position: absolute;
  right: 0;
  
  .board-name {
    
  }
}
.sub-header {
  display: flex;
  height: 40px;
  background-color: #c4c4c4;
  margin-right: 0px !important;
  margin-left: 0px !important;
  
  .sub-header-data {
    display: flex;
  }
  .title {
    padding: 10px;
    margin-top: 0px !important;
    margin-bottom: 0 !important;
    border-right: solid 1px #3f3f3f;
  }
  .members {
    padding: 5px;
    margin-top: 0px !important;
    margin-bottom: 0 !important;
  }
  .shared-people {
    margin-left: 5px;
  }
  .message-icon {
    position: absolute;
    right: 6px;
    margin-top: 6px;
    cursor: pointer;
    -webkit-filter: invert(0.855);
  }
}