.board-container {
  height: calc(100% - 50px);
  &.permission-asker-opened {
    height: calc(100% - 50px - #{$permission-asker-height});
  }
  width: calc(100% - 64px);
  position: absolute;
  right: 0;

  .board-name {

  }

  .board {
    height: calc(100% - 40px);
    margin-top: 40px;
    position: relative;
    background: url("http://subtlepatterns2015.subtlepatterns.netdna-cdn.com/patterns/cork-wallet.png")
  }
}
.sub-header {
  display: flex;
  height: 40px;
  width: 100%;
  background-color: #6BB2E2;
  color: #27343E;
  position: relative;
  margin-right: 0px !important;
  margin-left: 0px !important;
  z-index: 1;
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.3);
  float: right;
  transition: all $sidebar-speed ease-in-out;

  .sub-header-data {
    padding: 0px !important;
    display: flex;
  }
  .right-data {
    padding-top: 4px;
    text-align: right;
  }
  .title {
    max-width: 50%;
    padding: 10px;
    margin-top: 0px !important;
    margin-bottom: 0 !important;
    border-right: solid 1px #3f3f3f;
  }
  .breadcrumb {
    padding: 5px 15px;
    margin: 0 !important;
    font-size: 20px;
    background-color: transparent !important;
    li {
      a {
        color: #ecf0f1 !important;
        text-decoration: none !important;
        font-size: 18px;
      }
      &.active {
        font-weight: bold;
        color: #ecf0f1 !important;
        font-size: 22px;
        &:before {
          content: '/' !important;
        }
      }
    }
  }
  .visibility {
    display: inline;
    padding: 0 5px;
    .visibility-img {
      width: 28px;
      opacity: 0.7;
    }
  }
  .members {
    display: inline;
    max-width: 50%;
    padding: 5px;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    border-right: 1px solid #0F2D41;
  }
  .shared-people {
    margin-left: 5px;
    background-color: $sidebar-text-color;
  }
  .message-text {
    
  }
  .message-icon-span {
    display: inline;
    margin-left: 5px;
    .message-icon {
      cursor: pointer;
      -webkit-filter: invert(0.855);
    }
  }
}
.sub-header-collapsed {
  width: calc(100% - 250px);
}
