.popover {
  top: 50px !important;
  width: 300px;
}
.popover-btn {
  padding: 3px !important;
  font-size: small !important;
  background-color: #dedede;
}
.popover-btn-text {
  margin: 0;
}
.popover-user-photo {
  margin-top: 5px;
  border-radius: 30px;
  width: 60px;
}
.user-info {
  
}
.user-mail {
  color: #666;
}
.popover-content {
  padding: 9px 0px;
}
.popover-data {
  margin-bottom: 10px;
  margin-left: 0;
  margin-right: 0;
}
.popover-footer {
  margin-left: 0;
  margin-right: 0;
  margin-top: 10px;
}
hr {
  margin: 0;
}