.error-message {
  position: absolute;
  right: 10px;
  bottom: 15px;
  padding: 10px;
  color: #fff;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.7);
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.3);
  z-index: 100002;
}
.show-error {
  animation-name: appear;
  animation-duration: 0.7s;
}
.hide-error {
  animation-name: disappear;
  animation-duration: 0.7s;
}
@keyframes appear {
  0% {right: -100px; opacity: 0;}
  100% {right: 10px; opacity: 1;}
}
@keyframes disappear {
  0% {right: 10px; opacity: 1;}
  100% {right: -100px; opacity: 0;}
}
.error-body {
  display: inline-block;
}
.error-close {
  display: inline-block;
  margin-left: 10px;
  color: #f1c40f;
  cursor: pointer;
}
