/* scrollbar */
*::-webkit-scrollbar {
  width: 10px!important;
  height: 10px!important;
}
*::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, .2);
}
*::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, .08);
}
.app-wrapper-main::-webkit-scrollbar-track {
  background-color: #dfdfdf;
}

.loading {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}
.loader {
  position: absolute;
  left: calc(50% - 25px);
  top: calc(50% - 25px);
  border: 5px solid #f3f3f3; /* Light grey */
  border-top: 5px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  25% { border-top-color: #1abc9c; }
  50% { border-top-color: #f1c40f; }
  75% { border-top-color: #e74c3c; }
  100% { transform: rotate(720deg); border-top-color: #3498db; }
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.btn {
  padding: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.board-list {
  max-height: calc(100vh - 73px);
  height: calc(100vh - 73px);
  margin-top: 10px;
  display: -webkit-inline-box;
  overflow-x: auto;
}
.board-list-title {
  margin-top: 25px;
  padding: 0px;
  color: #fff;
  font-size: 16px;
}
.board {
  width: 100%;
  margin-right: 20px;
}
.board-fixed {
  width: 250px;
  margin-right: 20px;
}
.task-manager {
  min-height: 100vh;
  background-color: #3fa4e7;
  border: 1px #ccc solid;
  overflow: hidden;
}
.task-manager-title {
  margin-top: 10px;
}
.hr-fix {
  margin: 10px 0 0;
  border-color: #2980b9;
}
.task {
  height: auto;
  background-color: #fff;
  margin-top: 0;
  margin-bottom: 10px;
  padding: 0;
  border-radius: 5px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
}
.task-title {
  margin: 15px 0 5px;
  font-weight: bold;
  word-wrap: break-word;
}
.fixed-title {
  padding: 0px;
}
.tasks-list {
  background-color: #e2e4e6;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
  margin-bottom: 10px;
}
.task-info {
  text-align: left;
}
.no-task {
  padding-bottom: 5px;
}
.edit-task,
.archive-task,
.dearchive-task{
  height: 18px;
  margin-top: 14px;
  background-position: center;
  background-size: 18px;
  background-repeat: no-repeat;
  z-index: 1;
  opacity: 0;
  transition: 0.3s all ease;
}
.archive-task {
  background-image: url(img/archive-task.svg);
}
.dearchive-task {
  background-image: url(img/archive-task.svg);
}
#view-archived-tasks {
  height: 18px;
  margin-top: 1px;
  opacity: 0.7;
  background-image: url(img/archive-task.svg);
  background-position: center;
  background-size: 18px;
  background-repeat: no-repeat;
}
.edit-task {
  padding-right: 30px !important;
  background-image: url(img/edit-task.svg);
}
.finished-task {
  width: 25px;
  height: 25px;
  position: absolute;
  right: 10px;
  top: 10px;
  background-size: 100%;
  background-image: url(img/flag.svg);
  opacity: 0.7;
  transition: 0.3s all ease;
}
.task:hover .finished-task {
  opacity: 0 !important;
}
.icon-fixed {
  padding: 0 15px;
  width: 18px;
  float: right;
}
.task:hover .edit-task,
.task:hover .archive-task,
.task:hover .dearchive-task {
  opacity: 0.7;
}
.task:hover .play,
.task:hover .pause,
.task:hover .done {
  opacity: 1;
  z-index: 1;
}
.task:hover {
  background-color: #eee;
}
.play, .pause, .done {
  position: absolute;
  top: calc(50% - 15px);
  height: 30px;
  width: 30px;
  border-radius: 50%;
  opacity: 0;
}
.play {
  right: 50px;
  background-color: #27ae60;
}
.pause {
  right: 50px;
  background-color: #f1c40f;
}
.done {
  right: 15px;
  background-color: #e74c3c;
}
.play img {
  position: absolute;
  top: calc(50% - 7.5px);
  left: calc(50% - 6.5px);
}
.pause img {
  position: absolute;
  top: calc(50% - 7.5px);
  left: calc(50% - 7.5px);
}
.done img {
  position: absolute;
  top: calc(50% - 10px);
  left: calc(50% - 10px);
  -webkit-filter: invert(1);
}
.expiration {
  padding: 0px;
  margin: 0 0 15px;
  font-size: 13px !important;
}
.time-active {
  margin: 0 0 5px;
  font-size: 13px !important;
}

.create-task-form {
  color: #fff;
}
.create-task-inputs {
  width: calc(100% - 60px);
  margin: 0 30px;
  padding: 10px;
  border-radius: 10px;
  background-color: #e2e4e6;
  color: #000;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
}

.edit-task-input {
  margin: 15px 0px;
}

.record {
  position: absolute;
  top: calc(50% - 12.5px);
  right: 17px;
  animation: record 3s linear infinite; 
  opacity: 1;
}

@keyframes record {
	0% {
		opacity: 1;
	}
	50% {
	  opacity: 0;
	}
  100% {
		opacity: 1;
	}
}

.go-back-task {
  position: absolute;
  top: 15px;
  left: 5px;
}
.go-back {
  display: inline-block;
  width: 32px;
  height: 32px;
  display: inline-block;
  vertical-align: middle;
  background-image: url(img/go-back.svg);
  background-position: center;
  background-size: 18px;
  background-repeat: no-repeat;
  opacity: 0.5;
  background-color: white;
  border-radius: 50%;
  margin: 5px;
  transition: 0.3s all ease;
  cursor: pointer;
}
.go-back:hover {
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  opacity: 0.9;
}
.task-info {
  background-color: #e2e4e6;
  margin: 15px 15px 10px;
  width: calc(100% - 30px);
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}
.task-info-title {
  display: inline-block;
}
.item {
  background-color: #fff;
  padding: 15px 15px 5px;
  border-radius: 5px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
  margin-bottom: 10px;
}
.text-fixed {
  font-size: 14px;
  text-align: left;
}
.panel-body.text-fixed {
  padding: 10px;
  font-size: 12px;
}
.panel-heading.fixed {
  padding: 10px;
  background-color: #efefef;
}
.error-message {
  position: absolute;
  right: 10px;
  bottom: 15px;
  padding: 10px;
  color: #fff;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.7);
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.3);
}
.show-error {
  animation-name: appear;
  animation-duration: 0.7s;
}
.hide-error {
  animation-name: disappear;
  animation-duration: 0.7s;
}
@keyframes appear {
  0% {right: -100px; opacity: 0;}
  100% {right: 10px; opacity: 1;}
}
@keyframes disappear {
  0% {right: 10px; opacity: 1;}
  100% {right: -100px; opacity: 0;}
}
.error-body {
  display: inline-block;
}
.error-close {
  display: inline-block;
  margin-left: 10px;
  color: #f1c40f;
  cursor: pointer;
}