@import 'create-team/create-team-modal';
@import 'config-team/config-team-modal';
@import 'create-board/create-board-modal';
@import 'config-board/config-board-modal';
@import 'users-list/users-list';
@import 'create-chat/create-chat-modal';

.modal-header, .modal-footer {
  padding: 24px !important;
  border: none !important;
}
.modal-body {
  overflow-y: auto;
  overflow-x: hidden;
  .modal-body-fixed {
    overflow-y: hidden;
    overflow-x: hidden;
    min-height: 300px;
  }
  .explanation-text {
    text-align: center;
    &.margin {
      margin: 10px !important;
    }
  }
}
.modal-content {
  border-radius: 3px !important;
}
.close {
  margin-left: 15px;
  margin-top: 15px;
  margin-bottom: 10px;
  opacity: 0.5;
  &:hover {
    opacity: 0.7;
  }
}
.btn-accept {
  background-color: $peter-river;
  color: $white;
  // box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.3);
}
.btn-accept:hover, .btn-accept:active, .btn-accept:focus {
  color: $white !important;
}
