/* Name */
.name-input {
  margin-bottom: 15px;
  overflow: auto;
}
/* End Name */
/* Plan */
/* End Plan */
.input-group .form-control:first-child, .input-group-addon:first-child, .input-group-btn:first-child>.btn, .input-group-btn:first-child>.btn-group>.btn, .input-group-btn:first-child>.dropdown-toggle, .input-group-btn:last-child>.btn-group:not(:last-child)>.btn, .input-group-btn:last-child>.btn:not(:last-child):not(.dropdown-toggle) {
    border-bottom-left-radius: 0px;
}
.input-group .form-control:last-child, .input-group-addon:last-child, .input-group-btn:first-child>.btn-group:not(:first-child)>.btn, .input-group-btn:first-child>.btn:not(:first-child), .input-group-btn:last-child>.btn, .input-group-btn:last-child>.btn-group>.btn, .input-group-btn:last-child>.dropdown-toggle {
    border-bottom-right-radius: 0px;
}
.contacts-list {
  border-bottom-right-radius: 5px !important;
  border-bottom-left-radius: 5px !important;
  border: solid #ccc 1px;
  padding: 10px;
  max-height: 265px;
  overflow-y: auto;
  overflow-x: hidden;
}
.form-control {
  height: 38px !important;
}
/* Share */
.share {
  margin-left: 0 !important;
  margin-right: 0 !important;
}
/* End Share */
.btn-upgrade {
  padding: 1px 12px;
  vertical-align: bottom;
}
.free-card, .premium-card {
  height: 200px;
  margin-bottom: 15px;
}
.premium {
  transition: all 0.3s ease;
}
.free-card-active {
  box-shadow: 0 0 20px 2px rgba(0,0,0,.5);
  background-color: #3498db;
  color: #fff;
  z-index: 1;
}
.premium-card-active {
  box-shadow: 0 0 20px 2px rgba(0,0,0,.5);
  background-color: #2ecc71;
  color: #fff;
}
.btn-free, .btn-premium {
  background-color: #dedede !important;
  color: #000 !important;
  margin-bottom: 10px;
}
.create-modal-page {
  margin-top: 10px;
}
.free {
  transition: all 0.3s ease;
}
.plan-card-title {
  padding-top: 5px;
  text-align: center;
}
.premium-card-price {
  text-align: center;
  .premium-price {
    margin: 0;
  }
}
.contact-list-photo {
  border-radius: 20px;
  margin-top: 5px;
  margin-right: 5px;
  width: 40px;
}
.contact-list-name {
  margin-left: 25px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.send-message-icon {
  margin-top: 10px;
  margin-bottom: 10px;
}
.contacts-list-row {
  margin-top: -1px;
}
