@import 'collapsible/collapsible';

.sidebar {
  width: 64px;
  background-color: $sidebar-color;
  height: calc(100% - 50px);
  position: absolute;
  &.permission-asker-opened {
    height: calc(100% - 50px - #{$permission-asker-height});
  }
  .item {
    padding-top: 8px;
    width: 64px;
    text-align: center;
    cursor: pointer;
    transition: all $sidebar-speed ease-in-out;
    .text {
      font-size: 12px;
      color: $sidebar-text-color;
    }
    .filter {
      -webkit-filter: invert(0.855);
      filter: invert(0.855);
    }
    .notification-badge {
      width: 15px;
      height: 15px;
      position: absolute;
      right: 28px;
      margin-top: 1px;
      background-image: url(/img/sidebar/notification-badge.svg);
      background-size: 100%;
    }
  }
  .active {
    background-color: #fff;
    .item-title {
      color: #3f3f3f !important;
    }
  }
  .no-margin {
    margin-top: 0px;
    padding-top: 8px;
  }
  .bottom {
    position: absolute;
    bottom: 0;
    margin-bottom: 1rem;
  }
}
