@import 'collapsible/collapsible';

.sidebar {
  width: 64px;
  background-color: $sidebar-color;
  height: calc(100% - 98px);
  position: absolute;
  .item {
    padding-top: 8px;
    width: 64px;
    text-align: center;
    cursor: pointer;
    .text {
      font-size: 12px;
      color: $sidebar-text-color;
    }
  }
  .active {
    background-color: #fff;
    .item-title {
      color: #3f3f3f !important;
    }
  }
  .no-margin {
    margin-top: 0px;
    padding-top: 8px;
  }
  .bottom {
    position: absolute;
    bottom: 0;
    margin-bottom: 1rem;
  }
}
