@import 'collapsible/collapsible';

.sidebar {
  width: 64px;
  background-color: $sidebar-color;
  height: calc(100% - 98px);
  position: absolute;
  .item {
    margin-top: 8px;
    width: 64px;
    text-align: center;
    .text {
      font-size: 12px;
      color: $sidebar-text-color;
    }
  }
  .no-margin {
    margin-top: 0px;
    padding-top: 8px;
  }
  .bottom {
    position: absolute;
    bottom: 0;
    margin-bottom: 1rem;
  }

  .collapsible {
    position: absolute;
    width: 250px;
    height: 100%;
    background-color: white;
    top: 0px;
    left: 64px;
    .header {
      margin-left: 0px !important;
      margin-right: 0px !important;
    }
    .title {
      margin-top: 10px;
      font-weight: 600;
    }
    .close {
      z-index: 1;
    }
  }
}
