@import 'boards-collapsible/boards-collapsible';
@import 'chats-collapsible/chats-collapsible';
@import 'modules-collapsible/modules-collapsible';
@import 'configuration-button/configuration-button';
@import 'top-buttons/top-buttons';

.sidebar {
  width: 64px;
  background-color: $sidebar-color;
  height: calc(100% - 98px);
  position: absolute;
  .item {
    margin-top: 8px;
    width: 64px;
    height: 64px;
    text-align: center;
    .text {
      color: $sidebar-text-color;
    }
  }
  .bottom {
    position: absolute;
    bottom: 0;
  }
}
