// General
$black: #000;
$white: #fff;
$grey-btn: #dedede;
$blue-btn: #037de5;
$green-btn: #7fb959;
$scrollbar-color: #dfdfdf;

// Navbar
$navbar-color: #3498db;
$li-active: #2980b9;

// Footer
$footer-color: #e3e5e6;

// Dashboard
$team-false: #aaacad;
$free-card-active: #3498db;
$premium-card-active: #2ecc71;

// Team
$sidebar-color: #3f3f3f;
$sidebar-text-color: #dadada;
$sidebar-speed: 0.35s;