@import 'direct-chats/direct-chats';
@import 'boards/boards';

.row-fixed-margin {
  margin-left: 0px !important;
  margin-right: 0px !important;
  overflow: auto;
  cursor: pointer;
  transition: 0.3s all ease;
  &:hover {
    background-color: #eee;
  }
}

.img-fixed-margin {
  margin-top: 8px;
}

.img-fixed-margin.fixed-padding {
  padding-left: 5px !important;
}

.hr-fixed-color {
  border-color: $black;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}

.messages-badge {
  height: 18px;
  width: 18px;
  background-color: red;
  
  text-align: center;
  font-size: 10px;
  color: $white;
  padding: 2.5px;
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
