@import 'boards/boards';
@import 'chats/chats';
@import 'modules/modules';

.collapsible {
  z-index: 103;
  display: none;
  position: absolute;
  width: 250px;
  height: 100%;
  background-color: $white;
  top: 0px;
  left: 64px;

  .collapsible-header {
    margin-left: 0px !important;
    margin-right: 0px !important;
  }
  .collapsible-body {
    overflow: auto;
    max-height: 500px;
  }
  .collapsible-footer {
    position: absolute;
    margin-left: 15px;
    bottom: 12px;
    .footer-btn {
      float: right;
      width: 220px;
      margin-top: 20px !important;
      margin-bottom: 10px !important;
      border-radius: 2px;
      border: none !important;
      box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
      padding: 10px 20px !important;
      background-color: $blue-btn !important;
      color: $white !important;
    }
  }

  .title {
    margin-top: 10px;
    font-weight: 600;
  }
  .close {
    z-index: 1;
    margin-top: 10px !important;
  }
}
