#notifications-permission-asker {
  height: $permission-asker-height;
  background-color: #dfa941;
  color: $white;
  font-size: 17px;
  p {
    padding-top: 7px;
    padding-left: 30px;
    margin: 0;
    display: inline-block;
  }
  p:hover {
    text-decoration: underline;
  }
  .close-notification-permission {
    float: right;
    width: 18px;
    margin: 9px;
    cursor: pointer;
    opacity: 0.5;
    -webkit-filter: invert(1);
    &:hover {
      opacity: 0.9;
    }
  }
  p, span {
    cursor: pointer;
  }
}
