.module-container {
  position: absolute !important;
  -webkit-user-select: none;

  .minimized-module-name {
    width: inherit;
    position: absolute;
    text-align: center;
    top: -36px;
  }
  .module-pin {
    position: absolute;
    top: -16px;
    left: calc(50% - 16px);
    border-radius: 5px;
    background-color: #ecf0f1;
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.3);
    z-index: 102;
    transition: 0.3s all ease;
    .img {
      width: 100%;
      padding: 3px;
      transition: 0.3s all ease;
    }
  }
  .ui-resizable-handle {
    z-index: 0 !important;
  }

  .module {
    width: inherit;
    height: inherit;
    border: none;
  }
  
  &:active, &:hover {
    z-index: 100;
  }
  &.ui-resizable-disabled {
    height: auto !important;
    .module-pin {
      width: 36px;
      height: 36px;
      left: calc(50% - 17px);
    }
  }
}
