.module-container {
  position: absolute !important;
  -webkit-user-select: none;

  .module-pin {
    background-color: #3f3f3f;
    border: 5px ridge #e74c3c;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    margin: auto;
    position: absolute;
    top: -16px;
    left: calc(50% - 16px);
    z-index: 2;
  }

  .module {
    width: inherit;
    height: inherit;
    border: none;
  }
}
