@import 'popover/popover';

nav.header {
  margin-bottom: 0px !important;
  border-radius: 0px !important;
  border: none !important;
  background-color: $navbar-color !important;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.2);
}
.user-photo {
  margin-top: 5px;
  height: 40px;
}
.user-info, .user-mail {
  padding-left: 15px;
}
.user-data {
  .user-info {
    color: $white;
  }
  .user-mail {
    color: #ecf0f1;
    margin-bottom: 0;
  }
}
.collapse-close-btn {
  margin-top: 9px;
}
.logo-container {
  display: inline-block;
  padding: 0 5px;
  .photo {
    height: 40px;
    margin-top: 5px;
    margin-right: 5px;
    display: inline;
  }
  .name {
    display: inline;
    color: #ecf0f1;
    font-size: 18px;
    font-weight: bold;
    vertical-align: text-top;
  }
  &:hover, &:focus {
    text-decoration: none !important;
  }
}
.li-navbar-text {
  color: $white !important;
}
.nav {
  li {
    a:hover, a:focus, {
      background-color: $li-active !important;
    }
  }
  li.active {
    background-color: $li-active !important;
  }
}
.navbar-toggle {
  .icon-bar {
    background-color: $sidebar-color !important;
  }
}
