@import 'popover/popover';

nav.header {
  margin-bottom: 0px !important;
  border-radius: 0px !important;
  border: none !important;
  background-color: $navbar-color !important;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.2);
}
.user-photo {
  margin-top: 5px;
  height: 40px;
}
.logo-photo {
  height: 40px;
  margin-top: 5px;
  margin-right: 15px;
}
.li-navbar-text {
  color: $white !important;
}
.nav {
  li {
    a:hover, a:focus, {
      background-color: $li-active !important;
    }
  }
  li.active {
    background-color: $li-active !important;
  }
}
.dropdown {
  margin-top: 8px;
  .btn {
    text-decoration: none;
    color: $sidebar-color;
    background-color: $sidebar-text-color;
    text-align: center;
    letter-spacing: .5px;
    transition: .2s ease-out;
    width: 109.47px !important;
    cursor: pointer;
    .caret {
      margin-left: 10px !important
    }
  }
  .item-a {
    padding-top: 7px;
    padding-bottom: 7px;
  }
  .item-li {
    height: 34px;
  }
  .dropdown-menu {
    width: 109.47px !important;
    min-width: auto !important;
    transition: .2s ease-out;
    top: 0px;
    margin: 0px;
    padding: 0px;
  }
}
.navbar-header {
  .new {
    height: 32px;
    width: 32px;
    background-color: $sidebar-text-color;
    border-radius: 50%;
    margin-top: 9px;
    margin-left: auto;
    background-image: url(/img/add-people-icon.svg);
    background-size: 70%;
    background-repeat: no-repeat;
    background-position-x: 4px;
    background-position-y: 4px;
  }
  .right-align-icon {
    display: inline-flex;
    float: right;
    &.user {
      margin-left: 5px;
    }
  }
}
.tabs {
  margin-top: 10px;
  .nav-tabs {
    .item {
      border: none;
      text-align: center;
      background-color: transparent !important;
      &.active {
        a {
          background-color: $white !important;
          color: $sidebar-color !important;
        }
        &:hover {
          a{
            background-color: $white !important;
            color: $sidebar-color !important;
          }
        }
      }
      a {
        transition: .2s ease;
        color: $white !important;
      }
      a:hover {
        border-color: transparent;
        background-color: $white !important;
        color: $sidebar-color !important;
      }
    }
  }
}
