/* scrollbar */
*::-webkit-scrollbar {
  width: 10px!important;
  height: 10px!important;
}
*::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, .2);
}
*::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, .08);
}
.app-wrapper-main::-webkit-scrollbar-track {
  background-color: #dfdfdf;
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.btn {
  padding: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}

/*.create-task {
  position: fixed;
  bottom: 10px;
  right: 10px;
  height: 55.5px;
  width: 55.5px;
  border-radius: 50%;
  background-color: #f44336;
  background-image: url(img/create-task.svg);
  background-position: center;
  background-size: 22px;
  background-repeat: no-repeat;
  z-index: 1;
}*/

.board-list {
  margin-top: 10px;
  display: -webkit-inline-box;
  overflow-x: auto;
}
.board-list-title {
  margin-top: 15px;
}
.board {
  width: 300px;
  margin-right: 20px;
}
.task-manager {
  min-height: 100vh;
  background-color: #eee;
  border: 1px #ccc solid;
}
.task-manager-title {
  margin-top: 10px;
}
.hr-fix {
  margin: 0;
  border-color: #ccc;
}
.task {
  height: auto;
  background-color: #fff;
  margin-top: 0;
  margin-bottom: 10px;
  padding: 0;
  border-radius: 5px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
}
.task-title {
  margin: 15px 0;
  font-weight: bold;
}
.tasks-list {
  background-color: #e2e4e6;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
  margin-bottom: 10px;
}
.task-info {
  text-align: justify;
}
.edit-task {
  background-image: url(img/edit-task.svg);
  height: 18px;
  background-position: center;
  background-size: 18px;
  background-repeat: no-repeat;
  opacity: 0;
  margin-top: 10px;
}
.task:hover .edit-task {
  opacity: 0.7;
}
