<<<<<<< HEAD
.message-other {
  padding: 5px 0px;
}
.message-me {
  padding: 5px 0px;
}
.message-user-img {
  margin: 0px 5px;
  padding-left: 0;
  padding-right: 0;
}
.message {
  padding: 5px;
}
.message-me-text-container {
  background-color: #dcf8c6;
  border-radius: 5px;
  padding-left: 0;
  padding-right: 0;
  margin-left: 10px
}
.message-me-text-container {
  background-color: #fff;
  border-radius: 5px;
  padding-left: 0;
  padding-right: 0;
  margin-left: 10px
}
=======
.message-me, .message-other {
  padding: 5px 0px;
  overflow: auto;
}
.message-me {
  .message-text-container {
    background-color: #dbf8c6;
  }
}
.message-other {
  .message-text-container {
    background-color: $white;
    margin-left: 5px;
  }
}

.message-text-container {
  border-radius: 5px;
  padding-left: 0px;
  padding-right: 0px;
  margin-left: 10px;
  word-wrap: break-word;
  .message-text {
    padding: 5px;
  }
}

.message-user-image {
  margin: 0px 5px;
  padding-left: 0px !important;
  padding-right: 0px !important;
}
>>>>>>> 4f364e13d2b89c5e5194ae8171a5f151c6b200e8
