.message-me, .message-other {
  padding: 5px 0px;
  overflow: auto;
}
.message-me {
  .message-text-container {
    background-color: #dbf8c6;
  }
  .message-user-image {
    .img-rounded {
      float: right;
    }
  }
}
.message-other {
  .message-text-container {
    float: right;
    background-color: $white;
  }
  .message-user-image {
    .img-rounded {
      float: left;
    }
  }
}

.message-text-container {
  border-radius: 5px;
  padding: 0px !important;
  word-wrap: break-word;
  .message-text {
    padding: 5px;
    margin-bottom: 0px !important;
  }
}

.message-user-image {
  margin: 0px -5px 0px 0px;
  padding-left: 0px !important;
  padding-right: 0px !important;
}
