html {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}
body {
  width: 100%;
  height: 100%;
  background: #fafafa;
  font-family: 'roboto' !important;
}

iframe {
  border: none !important;
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.loading {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1051;
}
.loader {
  position: absolute;
  left: calc(50% - 25px);
  top: calc(50% - 25px);
  border: 5px solid #f3f3f3; /* Light grey */
  border-top: 5px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  25% {
    border-top-color: #1abc9c;
  }

  50% {
    border-top-color: #f1c40f;
  }

  75% {
    border-top-color: #e74c3c;
  }

  100% {
    transform: rotate(720deg);
    border-top-color: #3498db;
  }
}

.error-message {
  position: absolute;
  right: 10px;
  bottom: 15px;
  padding: 10px;
  color: #fff;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.7);
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.3);
  z-index: 2000;
}
.show-error {
  animation-name: appear;
  animation-duration: 0.7s;
}
.hide-error {
  animation-name: disappear;
  animation-duration: 0.7s;
}
@keyframes appear {
  0% {right: -100px; opacity: 0;}
  100% {right: 10px; opacity: 1;}
}
@keyframes disappear {
  0% {right: 10px; opacity: 1;}
  100% {right: -100px; opacity: 0;}
}
.error-body {
  display: inline-block;
}
.error-close {
  display: inline-block;
  margin-left: 10px;
  color: #f1c40f;
  cursor: pointer;
}

.file-manager {
  overflow: auto;
  height: 100vh;
  background-color: #fafafa;
  border: 1px solid #ccc;
}

.folders-title-container, .documents-title-container {
  margin: 10px 0 0;
  font-weight: bold;
}
.documents-container {
  margin-bottom: 70px;
}
.document-container {
  transition: 0.3s all ease;
}
.divider {
  margin: 5px 0 !important;
  border-top-color: #ccc !important;
}
.document {
  text-align: left;
  height: 40px;
  background-color: #eee;
  border-radius: 3px;
  cursor: pointer;
  box-shadow: 0.5px 0.5px 2px 0px rgba(0,0,0, 0.3);
}
.fixed {
  margin: 10px 0 !important;
}

.create {
  position: fixed;
  bottom: 15px;
  right: 15px;
  width: 55.5px;
  height: 55.5px;
  border-radius: 50%;
  background-color: #f44336;
  box-shadow: 0px 0px 2px 1px rgba(0,0,0, 0.3);
  cursor: pointer;
}
.create .img {
  width: 55px;
  height: 55px;
  background-image: url('img/add.svg');
  background-size: 18px;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-filter: invert(1);
  transition: 0.3s all ease;
}
.create:hover .img {
  transform: rotate(360deg);
  background-image: url('img/google-docs.svg');
}
.create:hover {
  box-shadow: 0px 0px 10px 1px rgba(0,0,0, 0.3);
}
.create:hover .options .doc,
.create:hover .options .drive ,
.create:hover .options .folder,
.create:hover .options .upload {
  opacity: 1;
}
.options {
  height: 163px;
  width: 55.5px;
  position: absolute;
  top: -163px;
  visibility: hidden;
}
.create:hover .options {
  visibility: visible;
}
.option {
  width: 37px;
  height: 37px;
  margin: 5px 0 15px 10px;
  border-radius: 50%;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 18px;
}
.option div {
  width: 100%;
  height: 100%;
}

.doc,
.folder,
.drive,
.upload {
  opacity: 0;
}
.upload {
  background-color: #2196f3;
  cursor: pointer;
  background-image: url('img/photo.svg');
  transition: all 0.3s ease;
}
.upload:hover {
  box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18),0 4px 15px 0 rgba(0,0,0,0.15);
}
.drive {
  background-color: #4caf50;
  cursor: pointer;
  background-image: url('img/google-drive-logo.svg');
  transition: all 0.9s ease;
}
.drive:hover {
  box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18),0 4px 15px 0 rgba(0,0,0,0.15);
}
.folder {
  background-color: #1c43e2;
  background-image: url('img/folder.svg');
  -webkit-filter: invert(1);
  transition: all 0.6s ease;
}
.folder:hover {
  box-shadow: 0 5px 11px 0 rgba(255,255,255,0.18),0 4px 15px 0 rgba(255,255,255,0.15);
}
.folder .icon {
  position: absolute;
  left: calc(50% - 10px);
  top: calc(50% - 17px);
  font-size: 20px;
  padding: 2px;
  color: #fff;
}
.files-container, .folders-container, .documents-container {
  overflow: auto;
}
.delete {
  position: absolute;
  top: 18px;
  right: 15px;
  opacity: 0;
  cursor: pointer;
  transition: 0.3s all ease;
}
.delete:hover {
  opacity: 1;
}
.folder-item-container:hover .delete, .document-container:hover .delete {
  opacity: 0.9;
}
.icon-type {
  height: 40px;
  padding: 7px;
  text-align: center;
  font-size: 24px;
  border-radius: 3px 0 0 3px;
  opacity: 0.8;
  background-color: #ccc;
}
img.icon-type.import-drive {
  -webkit-filter: invert(1);
}
.icon-type.import-drive {
  background-color: #333;
}
.document-title {
  padding: 10px 15px 10px 5px;
  margin: 0;
  transition: 0.3s all ease;
}
.document-container:hover .document-title {
  background-color: #d3d3d3;
}

.drive-navbar {
  height: 42px;
  width: 100%;
  background-color: #3498db;
}
.back-icon {
  padding: 4px 8px;
  color: #fff;
  width: 40px;
  cursor: pointer;
}
.back-icon:hover {
  background-color: #3498db;
}
.go-back {
  display: inline-block;
  width: 32px;
  height: 32px;
  margin: 5px;
  display: inline-block;
  vertical-align: middle;
  background-image: url('img/go-back.svg');
  background-position: center;
  background-size: 18px;
  background-repeat: no-repeat;
  background-color: white;
  opacity: 0.5;
  cursor: pointer;
  border-radius: 50%;
  float: left;
  transition: 0.3s all ease;
}
.go-back:hover {
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  opacity: 0.9;
}
.drive-navbar-btn {
  float: right;
  font-size: 18px;
  margin-top: 5.5px;
  margin-right: 5px;
  color: #000;
  padding: 3px;
  background-color: #fff;
  border-radius: 5px;
  cursor: pointer;
  opacity: 0.5;
  transition: 0.3s all ease;
  font-style: normal;
}
.drive-navbar-btn:hover {
  opacity: 0.9;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}
.folder-navbar {
  width: 100%;
  height: 42px;
  background-color: #3498db;
}
.folder-name {
  display: inline;
  color: #fff;
  font-size: 18px;
  vertical-align: middle;
}
.file-name {
  color: #fff;
  font-size: 18px;
  margin: 8.5px 0px;
  padding: 0;
  width: calc(50% - 65px);
  display: inline-block;
}

.content-container {
  width: 100%;
  height: calc(100% - 42px);
  background-color: #eeeeee;
}
.image-container {
  height: 250px;
  width: 250px;
  border-radius: 50%;
  background-color: #f1f1f1;
  position: absolute;
  left: 0;
  top: 42px;
  right: 0;
  bottom: 0;
  margin: auto;
}
.photo {
  width: 81px;
  margin: 50px 84.5px 0px;
  opacity: 0.7;
  background: no-repeat url('img/image.svg') 0;
  background-size: 100%;
  height: 100px;
}
.image-text {
  text-align: center;
  padding: 10px;
}
