@import './utils';

* {
  font-family: roboto;
}

html {
  height: 100% !important;
  overflow-x: hidden;
}

body {
  font-family: "roboto" !important;
  background-color: $body !important;
  height: 100% !important;
}

/* scrollbar */
*::-webkit-scrollbar {
  width: 10px!important;
}
*::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, .2);
}
*::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, .08);
}
.app-wrapper-main::-webkit-scrollbar-track {
  background-color: $scrollbar-color;
}

/* Inputs blue border */
input:focus, select:focus, textarea:focus, button:focus {
  border-color: #ccc !important;
  outline: none !important;
  box-shadow: none !important;
}

/* btn */
.btn-default:active {
  box-shadow: none !important;
}

/* override jquery-ui styles */
.ui-icon,.ui-widget-content .ui-icon {
  background-image: url("http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/images/ui-icons_222222_256x240.png") !important;
}
.ui-icon-gripsmall-diagonal-se {
  background-position: -78px -222px !important;
}

/* not-found */
.not-found {
  width: 100vw;
  height: 100vh;
  background-image: url(/img/404error.jpg);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #fff;
}

/* loading */
.loading {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  .loader {
    position: absolute;
    left: calc(50% - 25px);
    top: calc(50% - 25px);
    border: 5px solid #f3f3f3; /* Light grey */
    border-top: 5px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
  }
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  25% { border-top-color: #1abc9c; }
  50% { border-top-color: #f1c40f; }
  75% { border-top-color: #e74c3c; }
  100% { transform: rotate(720deg); border-top-color: #3498db; }
}