@import './utils';

html {
  height: 100% !important;
}

body {
  font-family: "roboto" !important;
  background-color: #eceff1 !important;
  height: 100% !important;
}

/* scrollbar */
*::-webkit-scrollbar {
  width: 10px!important;
}
*::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, .2);
}
*::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, .08);
}
.app-wrapper-main::-webkit-scrollbar-track {
  background-color: $scrollbar-color;
}

/* Inputs blue border */
input:focus, select:focus, textarea:focus, button:focus {
  border-color: #ccc !important;
  outline: none !important;
  box-shadow: none !important;
}

/* btn */
.btn-default:active {
  box-shadow: none !important;
}

/* override jquery-ui styles */
.ui-icon,.ui-widget-content .ui-icon {
  background-image: url("http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/images/ui-icons_222222_256x240.png") !important;
}
.ui-icon-gripsmall-diagonal-se {
  background-position: -78px -222px !important;
}
