.contact-list-photo {
  border-radius: 20px;
  margin-top: 5px;
  margin-right: 5px;
  width: 40px;
  background-color: $sidebar-text-color;
}
.contact-list-name {
  margin: 15px 0;
}
.user-type.edit {
  display: inline;
  width: 50%;
  margin: 5px 0;
  border-top: 1px solid #ccc !important;
}