.contact-list-photo {
  border-radius: 20px;
  margin-top: 5px;
  margin-right: 5px;
  width: 40px;
  background-color: $sidebar-text-color;
}
.contact-list-name {
  margin-left: 25px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.user-type.edit {
  display: inline;
  width: auto;
  border-top: 1px solid #ccc !important;
  margin-left: 5px;
}